/node_modules
/trash
/src/trash
/PHP/trash
/PHP/vendor
/PHP/api/gaKneeboard
/dist
/PHP/api/xls
/PHP/api/models/trash
.env
/php/.env
.env.development
.env.production
/public/.env
RM.md
.vscode
.DS_Store
