$primary-color: #181818;
$secondary-color: #1f1f1f;
$text-color-primary: #9dddff;
$text-color-secondary: #b5cfa9;
$text_color_function: "#dcdcab";
$text-color-significant-primary: #ce9178;
$text-color-significant-secondary: #6b9955;

$font: "Menlo, Monaco, 'Courier New', monospace";


// *{ font-family: "Courier", Courier, monospace;   }

* {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
}






html {



    // h1 {
    //     color: $text-color-primary;
    // }

    // p {
    //     color: $text-color-primary;
    // }

    body {

        margin: 0;
        width: 100%;
        height: 100%;

        #root {



            .App {

                position: fixed;
                //background-position: center center;
                // background-attachment: fixed;
                // background-repeat: no-repeat;
                // background-size: cover;

                height: 100%;
                width: 100%;


                .navbar {
                    grid-area: navbar;
                }

                .chevrons {
                    grid-area: chevrons;
                }

                .desktop {
                    grid-area: desktop;
                }

                .rightSide {
                    grid-area: rightSide;
                }

                .leftSide {
                    grid-area: leftSide;

                }

                .foot {
                    grid-area: foot;
                }


            }

            .App__landscape {

                @media screen and (orientation:portrait) {visibility: "none";}

                @media screen and (orientation:landscape) {


                    display: grid;
                    grid-template-columns: 25% 50% 25%;
                    grid-template-rows: 50px 43% 43% 1fr;
                    grid-template-areas:
                        "navbar    navbar    navbar  "
                        "leftSide  desktop rightSide "
                        "leftSide  desktop rightSide "
                        "foot      foot      foot    "
                }

            }

            .App__portrait {

                @media screen and (orientation:landscape) {visibility: "none";}
                @media screen and (orientation:portrait) {


                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 10% 5% 60% 20%  1fr;
                    grid-template-areas:
                        " navbar"
                        "chevrons"
                        " desktop"
                        " desktop"
                        " foot "
                }

            }



        }

    }

}


.desktop {
   
    

    height: 100%;
    width: 100%;
   
}

.navbar {
 

    height: 100%;
    width: 100%;
}

.leftSide {
    // background-color: $primary-color;


    position: relative;
    
}

.rightSide {
   
    position: relative;

    height: 100%;
    width: 100%;

}

.foot {


    height: 100%;
    width: 100%;
}