$primary-color: #181818;
$secondary-color: #1f1f1f;
$text-color-primary: #9dddff;
$text-color-secondary: #b5cfa9;
$text-color-significant-primary: #ce9178;
$text-color-significant-secondary: #6b9955;



.home {

    margin-top: 100px;

    width: 70%;
    height: 70%;

    @media screen and (orientation:portrait) {

        margin-top: 40px;
        width: 100%;

    }


    .weather-paper {



        // @media screen and (orientation:portrait) {


        //     width: 500%;

        // }



        color: $text-color-secondary;


        #significant {



            width: 100%;
            height: 100%;

            //     @media screen and (orientation:portrait) {


            //         margin-top: 0px;
            //         width: 100%;
            //         height: 100%;

            //     }


        }
    }
}